* {
    background-color: #E0ECDE;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: #2C6975;
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color: #68B2A0;
}

.nav {
    padding: auto;
    margin: autogi;
    background-color: #CDE0C9;
}

li {
    list-style-type: none;
    font-size: 15px;
    background-color: #CDE0C9;
}

li:hover {
    background-color: #FFFFFF;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin-left: 5px;
}

.cart {
    background-color: #CDE0C9;
    padding: 1rem;
    margin-top: 2rem;
}

footer, p {
    background-color: #2C6975;
    color: #FFFFFF;
    padding: 1rem;
}

.cart-row, h3, span {
    background-color: #CDE0C9;
}

@media screen and (min-width: 640px) {
    
}